body, html {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #87ceeb;
}
#gameCanvas {
    background: linear-gradient(to bottom, #87ceeb, #eee);
    border: 2px solid black;
}
